*{
    margin: 0;
    min-width: 0;
}

.button{
  
    width: 150px;
    border-radius: 20px;
    margin: 4px 2px;
    display: inline-block;
    text-decoration: none;
    padding: 15px 32px;
    color: whitesmoke;
    background-color:rgb(0, 108, 54);
    transition-duration: 0.25s;
    border: 3px solid rgb(0, 56, 19);  
}

.button:hover {
    background-color: black;
    color:white;
    padding: 15px 45px; 
    border: 3px solid black; 
}

.imagenes{
    width: 30px;
}

body{
    padding-top: 20px;
    text-align: center;
    background-color: #bcffbc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /*background-image: url("img/media_refugio/Regufio4.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;*/
}

#mascotas {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
}

#mascotas::-webkit-scrollbar {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 10px;
}

#mascotas::-webkit-scrollbar-thumb {
    background-color: rgb(0, 219, 117);
    border-radius: 10px;
}

.perro>img{
    margin: 15px 0px;
    height: 400px;
    border-radius: 15px;
    border: 2px solid darkgreen;
    transition: .2s;
}


.perro > img:hover {
    height: 480px;
}

.perro > p {
    font-size: 1.25em;
}

.perro{
    min-width: 425px;
    padding: 10px 20px;
    border: 2px solid darkgreen;
    background-color: rgba(100, 200, 100, 0.8);
    height: 680px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin: 20px 20px;
}

.perro:hover {
    cursor: pointer;
}

#mascotas2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#mascotas2 > div {
    flex-basis: 25%;
}